.wpcf7 {

  &-list-item {

    margin: 0;

    label {
      color: #a1a1a1;
      font-size: 12px !important;
    }


  }

  button.submit {

    padding: 0;

    span {

      background: #fff;
      padding: 15px 40px;
      display: block;
      transition: .5;

    }

    background: #fff;
    color: #000;
    font-size: 18px;
    position: relative;
    z-index: 10;
    border: 4px solid $color__secondary;
    border-radius: 0;
    transition: .5s;


    &:hover {

      span {

        background: transparent;

      }

      color: #000;

      &:before {


        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        z-index: -1;


      }

    }

    &:before {

      transition: .5s;
      width: calc(100% + 5px);
      height: calc(100% + 5px);
      position: absolute;
      bottom: -15px;
      right: -15px;
      background: url(images/pattern_blk.png);
      content: "";
      z-index: -1;


    }

  }


}
